<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>错误</title>
	<style>
		body,html{
			background: rgb(43,43,43);
		}
		h1{
			display: block;
			width: 500px;
			height: 100px;
			margin: 300px auto;
			color: #f00;
		}
	</style>
</head>
<body>
	<h1><%= errText %></h1>
</body>
</html>