  <section class="social">
      <ul>
      <li title="添加分类"><a href="/admin/itemAdd" class="fa fa-pinterest fa-2x" aria-hidden="true">添加分类</a></li>
      <li title="添加文章"><a href="/admin/articleAdd" class="fa fa-linkedin fa-2x" aria-hidden="true">添加文章</a></li>
      <li title="添加分类"><a href="/admin/linkAdd" class="fa fa-pinterest fa-2x" aria-hidden="true">添加友链</a></li>
      <li title="分类列表"><a href="/admin/itemList" class="fa fa-twitter fa-2x" aria-hidden="true">分类列表</a></li>
      <li title="文章列表"><a href="/admin/articleList" class="fa fa-stumbleupon fa-2x" aria-hidden="true">文章列表</a></li> 
      <li title="文章列表"><a href="/admin/linkList" class="fa fa-stumbleupon fa-2x" aria-hidden="true">友链列表</a></li>  
      </ul>
  </section>

  <section class="footer">
      <div class="container">
      <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <div class="footer-p1">
            <p class="font-2">Copy right 2016 by wow technology</p>
          </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <img class="img-responsive foot-img" src="/assets/img/footer-logo.png">
          </div>
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <div class="footer-p2" >
            <p class="font-2">More Templates <a href="http://www.ke1221.cn/" target="_blank" title="wangke">王可</a> - Collect from <a href="http://www.ke1221.cn/" title="微信" target="_blank">ke1221</a></p>
          </div>
          </div>
      </div>
      </div>
  </section>
  
</body>
</html>