<% include header %>



            <div class="row">

                <div class="col-xs-12 col-lg-6 col-sm-6 col-md-6 col-block">
                    <div class="block text-center block-first">
                        <div class="icon">
                            <a href="/admin/itemAdd"><i class="glyphicon glyphicon-plus fa-2x"></i></a>
                        </div>  
                       <h4>添加分类</h4>
                       <p class="font-2">在这里可以给文章添加分类</p>
                    </div>   
                </div>

                <div class="col-xs-12 col-lg-6 col-sm-6 col-md-6 col-block">
                    <div class="block text-center block-second">
                        <div class="icon">
                            <a href="/admin/itemList"><i class="glyphicon glyphicon-plus fa-2x"></i></a>
                        </div>  
                      	<h4>分类列表</h4>
                      	<p class="font-2">在这里可以发布新的文章</p>                                       
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-xs-12 col-lg-6 col-sm-6 col-md-6 col-block">
                    <div class="block text-center block-first">
                        <div class="icon">
                            <a href="/admin/articleAdd"><i class="glyphicon glyphicon-plus fa-2x"></i></a>
                        </div>  
                        <h4>添加文章</h4>
                        <p class="font-2">这里可以查看编辑分类列表</p>
                        </div>   
                </div>

                <div class="col-xs-12 col-lg-6 col-sm-6 col-md-6 col-block">
                    <div class="block text-center block-second">
                        <div class="icon">
                            <a href="/admin/articleList"><i class="glyphicon glyphicon-plus fa-2x"></i></a>
                        </div>  
                        <h4>文章列表</h4>
                        <p class="font-2">这里可以查看编辑文章列表</p>           
                      </div>
                </div>

            </div>

            <div class="row">
                <div class="col-xs-12 col-lg-6 col-sm-6 col-md-6 col-block">
                    <div class="block text-center block-third">
                        <div class="icon">
                            <a href="/admin/linkAdd"><i class="glyphicon glyphicon-plus fa-2x"></i></a>
                        </div>  
                        <h4>添加链接</h4>
                        <p class="font-2">这里可以添加友情链接</p>
                    </div>   
                </div>

                <div class="col-xs-12 col-lg-6 col-sm-6 col-md-6 col-block">
                    <div class="block text-center block-last">
                        <div class="icon">
                             <a href="/admin/linkList"><i class="glyphicon glyphicon-plus fa-2x"></i></a>
                        </div>  
                        <h4>链接列表</h4>
                        <p class="font-2">这里可以查看编辑友情链接</p>                                        
                    </div>
                </div>
            </div>
        </div>
    </section>

<% include footer %>
