<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="refresh" content="3;url=/admin/login" />
	<title>Document</title>
	<style>
		body,html{
			background: rgb(43,43,43);
		}
		h1{
			display: block;
			width: 500px;
			height: 100px;
			margin: 300px auto;
			color: #fff;
		}
	</style>
</head>
<body>
	<h1>注册成功，即将跳转登录页面</h1>
</body>
</html>